src/conf/xml-resources/web-service-references/prueba/wsdl/localhost_8086/paginaWS/prueba.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://estructura/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://estructura/" name="prueba">
<types>
<xsd:schema>
<xsd:import namespace="http://estructura/" schemaLocation="http://localhost:8086/paginaWS/prueba?xsd=1" />
</xsd:schema>
</types>
<message name="mostrar">
<part name="parameters" element="tns:mostrar" />
</message>
<message name="mostrarResponse">
<part name="parameters" element="tns:mostrarResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="borrarEstacionClave">
<part name="parameters" element="tns:borrarEstacionClave" />
</message>
<message name="borrarEstacionClaveResponse">
<part name="parameters" element="tns:borrarEstacionClaveResponse" />
</message>
<portType name="prueba">
<operation name="mostrar">
<input wsam:Action="http://estructura/prueba/mostrarRequest" message="tns:mostrar" />
<output wsam:Action="http://estructura/prueba/mostrarResponse" message="tns:mostrarResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://estructura/prueba/helloRequest" message="tns:hello" />
<output wsam:Action="http://estructura/prueba/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="borrarEstacionClave">
<input wsam:Action="http://estructura/prueba/borrarEstacionClaveRequest" message="tns:borrarEstacionClave" />
<output wsam:Action="http://estructura/prueba/borrarEstacionClaveResponse" message="tns:borrarEstacionClaveResponse" />
</operation>
</portType>
<binding name="pruebaPortBinding" type="tns:prueba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="mostrar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="prueba">
<port name="pruebaPort" binding="tns:pruebaPortBinding">
<soap:address location="http://localhost:8086/paginaWS/prueba" />
</port>
</service>
</definitions>