src/conf/xml-resources/web-service-references/prueba/wsdl/localhost_8086/paginaWS/prueba.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://estructura/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://estructura/" name="prueba">
<types>
<xsd:schema>
<xsd:import namespace="http://estructura/" schemaLocation="http://localhost:8086/paginaWS/prueba?xsd=1" />
</xsd:schema>
</types>
<message name="admins">
<part name="parameters" element="tns:admins" />
</message>
<message name="adminsResponse">
<part name="parameters" element="tns:adminsResponse" />
</message>
<message name="generales">
<part name="parameters" element="tns:generales" />
</message>
<message name="generalesResponse">
<part name="parameters" element="tns:generalesResponse" />
</message>
<message name="choferess">
<part name="parameters" element="tns:choferess" />
</message>
<message name="choferessResponse">
<part name="parameters" element="tns:choferessResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="addEstacionClave">
<part name="parameters" element="tns:addEstacionClave" />
</message>
<message name="addEstacionClaveResponse">
<part name="parameters" element="tns:addEstacionClaveResponse" />
</message>
<message name="borrarEstacionClave">
<part name="parameters" element="tns:borrarEstacionClave" />
</message>
<message name="borrarEstacionClaveResponse">
<part name="parameters" element="tns:borrarEstacionClaveResponse" />
</message>
<message name="addEstacionGeneral">
<part name="parameters" element="tns:addEstacionGeneral" />
</message>
<message name="addEstacionGeneralResponse">
<part name="parameters" element="tns:addEstacionGeneralResponse" />
</message>
<message name="borrarEstacionGeneral">
<part name="parameters" element="tns:borrarEstacionGeneral" />
</message>
<message name="borrarEstacionGeneralResponse">
<part name="parameters" element="tns:borrarEstacionGeneralResponse" />
</message>
<message name="modificarEstClave">
<part name="parameters" element="tns:modificarEstClave" />
</message>
<message name="modificarEstClaveResponse">
<part name="parameters" element="tns:modificarEstClaveResponse" />
</message>
<message name="modificarEstGeneral">
<part name="parameters" element="tns:modificarEstGeneral" />
</message>
<message name="modificarEstGeneralResponse">
<part name="parameters" element="tns:modificarEstGeneralResponse" />
</message>
<message name="dibujarGeneral">
<part name="parameters" element="tns:dibujarGeneral" />
</message>
<message name="dibujarGeneralResponse">
<part name="parameters" element="tns:dibujarGeneralResponse" />
</message>
<message name="imprimirGraficas">
<part name="parameters" element="tns:imprimirGraficas" />
</message>
<message name="imprimirGraficasResponse">
<part name="parameters" element="tns:imprimirGraficasResponse" />
</message>
<message name="mostrar">
<part name="parameters" element="tns:mostrar" />
</message>
<message name="mostrarResponse">
<part name="parameters" element="tns:mostrarResponse" />
</message>
<message name="buses">
<part name="parameters" element="tns:buses" />
</message>
<message name="busesResponse">
<part name="parameters" element="tns:busesResponse" />
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin" />
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse" />
</message>
<message name="borrarAdmin">
<part name="parameters" element="tns:borrarAdmin" />
</message>
<message name="borrarAdminResponse">
<part name="parameters" element="tns:borrarAdminResponse" />
</message>
<message name="modifAdmin">
<part name="parameters" element="tns:modifAdmin" />
</message>
<message name="modifAdminResponse">
<part name="parameters" element="tns:modifAdminResponse" />
</message>
<message name="insertaChofer">
<part name="parameters" element="tns:insertaChofer" />
</message>
<message name="insertaChoferResponse">
<part name="parameters" element="tns:insertaChoferResponse" />
</message>
<message name="modifChofer">
<part name="parameters" element="tns:modifChofer" />
</message>
<message name="modifChoferResponse">
<part name="parameters" element="tns:modifChoferResponse" />
</message>
<message name="borraChofer">
<part name="parameters" element="tns:borraChofer" />
</message>
<message name="borraChoferResponse">
<part name="parameters" element="tns:borraChoferResponse" />
</message>
<message name="insertaBus">
<part name="parameters" element="tns:insertaBus" />
</message>
<message name="insertaBusResponse">
<part name="parameters" element="tns:insertaBusResponse" />
</message>
<message name="borraBus">
<part name="parameters" element="tns:borraBus" />
</message>
<message name="borraBusResponse">
<part name="parameters" element="tns:borraBusResponse" />
</message>
<message name="moverBusClave">
<part name="parameters" element="tns:moverBusClave" />
</message>
<message name="moverBusClaveResponse">
<part name="parameters" element="tns:moverBusClaveResponse" />
</message>
<message name="moverBusGral">
<part name="parameters" element="tns:moverBusGral" />
</message>
<message name="moverBusGralResponse">
<part name="parameters" element="tns:moverBusGralResponse" />
</message>
<message name="dibujarClave">
<part name="parameters" element="tns:dibujarClave" />
</message>
<message name="dibujarClaveResponse">
<part name="parameters" element="tns:dibujarClaveResponse" />
</message>
<message name="cargaMasiva">
<part name="parameters" element="tns:cargaMasiva" />
</message>
<message name="cargaMasivaResponse">
<part name="parameters" element="tns:cargaMasivaResponse" />
</message>
<portType name="prueba">
<operation name="admins">
<input wsam:Action="http://estructura/prueba/adminsRequest" message="tns:admins" />
<output wsam:Action="http://estructura/prueba/adminsResponse" message="tns:adminsResponse" />
</operation>
<operation name="generales">
<input wsam:Action="http://estructura/prueba/generalesRequest" message="tns:generales" />
<output wsam:Action="http://estructura/prueba/generalesResponse" message="tns:generalesResponse" />
</operation>
<operation name="choferess">
<input wsam:Action="http://estructura/prueba/choferessRequest" message="tns:choferess" />
<output wsam:Action="http://estructura/prueba/choferessResponse" message="tns:choferessResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://estructura/prueba/loginRequest" message="tns:login" />
<output wsam:Action="http://estructura/prueba/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="addEstacionClave">
<input wsam:Action="http://estructura/prueba/addEstacionClaveRequest" message="tns:addEstacionClave" />
<output wsam:Action="http://estructura/prueba/addEstacionClaveResponse" message="tns:addEstacionClaveResponse" />
</operation>
<operation name="borrarEstacionClave">
<input wsam:Action="http://estructura/prueba/borrarEstacionClaveRequest" message="tns:borrarEstacionClave" />
<output wsam:Action="http://estructura/prueba/borrarEstacionClaveResponse" message="tns:borrarEstacionClaveResponse" />
</operation>
<operation name="addEstacionGeneral">
<input wsam:Action="http://estructura/prueba/addEstacionGeneralRequest" message="tns:addEstacionGeneral" />
<output wsam:Action="http://estructura/prueba/addEstacionGeneralResponse" message="tns:addEstacionGeneralResponse" />
</operation>
<operation name="borrarEstacionGeneral">
<input wsam:Action="http://estructura/prueba/borrarEstacionGeneralRequest" message="tns:borrarEstacionGeneral" />
<output wsam:Action="http://estructura/prueba/borrarEstacionGeneralResponse" message="tns:borrarEstacionGeneralResponse" />
</operation>
<operation name="modificarEstClave">
<input wsam:Action="http://estructura/prueba/modificarEstClaveRequest" message="tns:modificarEstClave" />
<output wsam:Action="http://estructura/prueba/modificarEstClaveResponse" message="tns:modificarEstClaveResponse" />
</operation>
<operation name="modificarEstGeneral">
<input wsam:Action="http://estructura/prueba/modificarEstGeneralRequest" message="tns:modificarEstGeneral" />
<output wsam:Action="http://estructura/prueba/modificarEstGeneralResponse" message="tns:modificarEstGeneralResponse" />
</operation>
<operation name="dibujarGeneral">
<input wsam:Action="http://estructura/prueba/dibujarGeneralRequest" message="tns:dibujarGeneral" />
<output wsam:Action="http://estructura/prueba/dibujarGeneralResponse" message="tns:dibujarGeneralResponse" />
</operation>
<operation name="imprimirGraficas">
<input wsam:Action="http://estructura/prueba/imprimirGraficasRequest" message="tns:imprimirGraficas" />
<output wsam:Action="http://estructura/prueba/imprimirGraficasResponse" message="tns:imprimirGraficasResponse" />
</operation>
<operation name="mostrar">
<input wsam:Action="http://estructura/prueba/mostrarRequest" message="tns:mostrar" />
<output wsam:Action="http://estructura/prueba/mostrarResponse" message="tns:mostrarResponse" />
</operation>
<operation name="buses">
<input wsam:Action="http://estructura/prueba/busesRequest" message="tns:buses" />
<output wsam:Action="http://estructura/prueba/busesResponse" message="tns:busesResponse" />
</operation>
<operation name="addAdmin">
<input wsam:Action="http://estructura/prueba/addAdminRequest" message="tns:addAdmin" />
<output wsam:Action="http://estructura/prueba/addAdminResponse" message="tns:addAdminResponse" />
</operation>
<operation name="borrarAdmin">
<input wsam:Action="http://estructura/prueba/borrarAdminRequest" message="tns:borrarAdmin" />
<output wsam:Action="http://estructura/prueba/borrarAdminResponse" message="tns:borrarAdminResponse" />
</operation>
<operation name="modifAdmin">
<input wsam:Action="http://estructura/prueba/modifAdminRequest" message="tns:modifAdmin" />
<output wsam:Action="http://estructura/prueba/modifAdminResponse" message="tns:modifAdminResponse" />
</operation>
<operation name="insertaChofer">
<input wsam:Action="http://estructura/prueba/insertaChoferRequest" message="tns:insertaChofer" />
<output wsam:Action="http://estructura/prueba/insertaChoferResponse" message="tns:insertaChoferResponse" />
</operation>
<operation name="modifChofer">
<input wsam:Action="http://estructura/prueba/modifChoferRequest" message="tns:modifChofer" />
<output wsam:Action="http://estructura/prueba/modifChoferResponse" message="tns:modifChoferResponse" />
</operation>
<operation name="borraChofer">
<input wsam:Action="http://estructura/prueba/borraChoferRequest" message="tns:borraChofer" />
<output wsam:Action="http://estructura/prueba/borraChoferResponse" message="tns:borraChoferResponse" />
</operation>
<operation name="insertaBus">
<input wsam:Action="http://estructura/prueba/insertaBusRequest" message="tns:insertaBus" />
<output wsam:Action="http://estructura/prueba/insertaBusResponse" message="tns:insertaBusResponse" />
</operation>
<operation name="borraBus">
<input wsam:Action="http://estructura/prueba/borraBusRequest" message="tns:borraBus" />
<output wsam:Action="http://estructura/prueba/borraBusResponse" message="tns:borraBusResponse" />
</operation>
<operation name="moverBusClave">
<input wsam:Action="http://estructura/prueba/moverBusClaveRequest" message="tns:moverBusClave" />
<output wsam:Action="http://estructura/prueba/moverBusClaveResponse" message="tns:moverBusClaveResponse" />
</operation>
<operation name="moverBusGral">
<input wsam:Action="http://estructura/prueba/moverBusGralRequest" message="tns:moverBusGral" />
<output wsam:Action="http://estructura/prueba/moverBusGralResponse" message="tns:moverBusGralResponse" />
</operation>
<operation name="dibujarClave">
<input wsam:Action="http://estructura/prueba/dibujarClaveRequest" message="tns:dibujarClave" />
<output wsam:Action="http://estructura/prueba/dibujarClaveResponse" message="tns:dibujarClaveResponse" />
</operation>
<operation name="cargaMasiva">
<input wsam:Action="http://estructura/prueba/cargaMasivaRequest" message="tns:cargaMasiva" />
<output wsam:Action="http://estructura/prueba/cargaMasivaResponse" message="tns:cargaMasivaResponse" />
</operation>
</portType>
<binding name="pruebaPortBinding" type="tns:prueba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="admins">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generales">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="choferess">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarEstClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarEstGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dibujarGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imprimirGraficas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mostrar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modifAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertaChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modifChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borraChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertaBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borraBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="moverBusClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="moverBusGral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dibujarClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cargaMasiva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="prueba">
<port name="pruebaPort" binding="tns:pruebaPortBinding">
<soap:address location="http://localhost:8086/paginaWS/prueba" />
</port>
</service>
</definitions>